.initialForm {
    position: relative;
    width: 100%;
    height: 98vh;
    background: #F1F5FA;
}
.group {
    position: absolute;
    width: 29%;
    height: 31vh;
    top: 34.5vh; left: 0;right: 0;bottom: 0;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;

}
.welcome {
    margin-bottom: 1em;
    position: relative;
    font-family: Manrope3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
   text-align: center;
}
.logo {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 2.1%;
    top: 3.8%;
}

.form {
    display: flex;
    flex-flow: column;
}
.nameForm {
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: space-between;

}
.nameInputForm, .surnameInputForm{
    position: relative;
    width: 48%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.firstName, .lastName {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0, 66, 142, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    padding-left: 1.4em;
    outline: none;
    border: none;
}
input:focus + label {
    font-size: 10px;
    top:4px;
}
input:focus {
    font-size: 14px;
    top: 5px;
}
/*.firstName::placeholder, .lastName::placeholder, .phone::placeholder, .email::placeholder {*/
/*    position: absolute;*/
/*    width: 72px;*/
/*    height: 19px;*/
/*    left: 28px;*/
/*    top: 20px;*/
/*    font-family: Manrope3;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 14px;*/
/*    line-height: 19px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    letter-spacing: -0.01em;*/
/*    color: #7188A3;*/
/*}*/
.labelName, .labelSurname, .labelTel, .labelEmail {
    position: absolute;
    width: 72px;
    height: 19px;
    justify-content: center;
    text-align: center;
    top: 30%;
    padding-left: 1em;
    font-family: Manrope3;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #7188A3;
}
.labelTel, .labelEmail {
    padding-left: 0;
}
.telInputForm, .emailInputForm  {
    margin-top: 1em;
    position: relative;
    width: 99.5%;
    height: 5vh;
    display: flex;


}
.phone, .email {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0, 66, 142, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 1.2em;
}
.createAccountButton {
    position: absolute;
    width: 41%;
    height: 5vh;
    background: rgba(1, 163, 255, 0.25);
    border-radius: 60px;
    padding: 13px 33px;
    right: 0;
    top: 80%;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
}
.createAccountButton:focus {
    outline: none;
}